{{!-- <table>
{{#each houses}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
  </tr>
{{/each}}
</table> --}}

<table>
{{#each planets}}
  <tr>
    <td>{{planet_id}}</td>
    <td>{{name}}</td>
    <td>{{population}}</td>
  </tr>
{{/each}}
</table>

